<div class="banner" style="background-image: url('<%= @garden.banner_url %>');">
  <div class="container">
    <h1><%= @garden.name %></h1>
  </div>
</div>

  <%= link_to "Back", gardens_path, class: 'btn btn-outline-danger' %>
